Skip to content
This repository
Search
Pull requests
Issues
Gist
 @billcrosbie
 Unwatch 1
  Star 0
 Fork 10 ITI242-Sp16/Ch4b-WeblogAnalyzer
 Code  Issues 0  Pull requests 6  Projects 0  Wiki  Pulse  Graphs  Settings
Branch: master Find file Copy pathCh4b-WeblogAnalyzer/.gitignore
04e86f2  on Feb 29
 unknown 🎊 Added .gitattributes & .gitignore files
0 contributors
RawBlameHistory     
64 lines (48 sloc)  878 Bytes
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
Contact GitHub API Training Shop Blog About
© 2016 GitHub, Inc. Terms Privacy Security Status Help